/* You can add global styles to this file, and also import other style files */
body {
    background-color: #d9eeff;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Arial';
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: 100% auto;
    margin-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.col {
    padding: .4em 1.3em;
}

.color-dark {
    background: #673ab7;
}

.color-light {
    background: #78b2ff;
}

#listTCCsTable {
    border-collapse: collapse;
    width: 100%;
}

#listTCCsTable td, #listTCCsTable th{
    /*border: 1px solid #ddd;*/
    padding: 1em;

}

#listTCCsTable tr:nth-child(even){background-color: #00f7ff7c;}
#listTCCsTable tr:nth-child(odd){background-color: #c300ff77;}

#listTCCsTable tr:hover {
    background-color: #ffffff3d;
}

#yellowButton {
    border: 0;
    padding: .5em 0.3em;
    background: #A5F883;
    color: #003A61;
    margin-right: 1em;
}

input.txt {
    border: 0;
    padding: .5em;
    width: 9em;
}

input.btn {
    border: 0;
    padding: .5em 0.3em;
    background: #A5F883;
    color: #003A61;
    cursor: pointer;
}

.text_input {
    border: 0;
    padding: .5em;
    width: 100%;
}

#crud_table{
    width: 100%;
}

.crud_field_label{
    width: 10em;
}

