input.txt {
    border: 0;
    padding: .5em;
    width: 9em;
}

input.btn {
    border: 0;
    padding: .5em 0.3em;
    background: #A5F883;
    color: #003A61;
}

#loginButton {
    border: 0;
    padding: .5em 0.3em;
    background: #A5F883;
    color: #003A61;
    margin-right: 1em;
}

.headerLink {
    color: #fff;
    text-decoration: none;
    font-size: small;
}

#homeLink {
    font-size: medium;
}

.example-spacer {
    flex: 1 1 auto;
}

footer p{
    font-size: small;
}

.logoImage {
    max-height: 45px;
    margin-right: 1em;
}