<p>
    <mat-toolbar class="container color-dark">
        <span><a id="homeLink" class="active headerLink" routerLink="">
            <img class="logoImage" src="assets/rr-tce_logo.png"></a></span>
        <span class="example-spacer"></span>
        <span><a class="headerLink" id='yellowButton' routerLink="/login">Login</a></span>
        <span>
            <form>
                <input type="text" class="txt" name="item" 
                    placeholder="Título, autor..." [(ngModel)]="searchText">
            </form>
        </span>
        <span>
            <form>
                <input type="submit" class="btn" value="Buscar" (click)="searchTCCs()">
            </form>
        </span>
    </mat-toolbar>
</p>

<router-outlet></router-outlet>

<footer>
    <mat-toolbar class="container color-dark">
        <img class="logoImage" src="assets/tce_logo.png">
        <img class="logoImage" src="assets/imd_logo.png">
        <span class="example-spacer"></span>
        <span>
            <p>UFRN Copyright © 2021</p>
        </span>
    </mat-toolbar>
</footer>