

.headerLink {
    color: #fff;
    text-decoration: none;
    font-size: small;
}

#homeLink {
    font-size: medium;
}

.example-spacer {
    flex: 1 1 auto;
}

footer p{
    font-size: small;
}

.logoImage {
    max-height: 45px;
    margin-right: 1em;
}

mat-toolbar{
    min-height: 4em;
}