.container {
    display: grid;
    grid-template-columns: 100% auto;
    margin-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.col {
    padding: .4em 1.3em;
}

.color-dark {
    background: #673ab7;
}

.color-light {
    background: #78b2ff;
}

#lastTCCsTable {
    border-collapse: collapse;
    width: 100%;
}

#lastTCCsTable td, #lastTCCsTable th{
    /*border: 1px solid #ddd;*/
    padding: 1em;
}

#lastTCCsTable tr:nth-child(even){background-color: #00f7ff7c;}
#lastTCCsTable tr:nth-child(odd){background-color: #c300ff77;}

#lastTCCsTable tr:hover {
    background-color: #ffffff3d;
}